.inline{
    display: inline;
}

.wide{
    width: 450px;
}

.border-right{
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: grey;
}

.short{
    height:30px;
}

.no-top-padding{
    padding-top: 0px;
}

.small-bottom-margin{
    margin-bottom: 2px;
    padding-bottom: 8px;
}

.no-resize{
    resize: none;
}

.blueBack{
    background-color: rgba(173,216,230,.6)
}
